@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding-top: 50px;
}

.container {
  margin: 50px auto;
  width: 350px;
}

header {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  border-bottom: 1px solid #888;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

nav {
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #555;
}



label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #888;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: #444;
  color: #fff;
}

select {
  appearance: none;
  background: #3a3838;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  height: 40px;
  padding: 10px;
  width: 100%;
}


select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  background-color: #9c88ff89;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #444;
  box-shadow: var(--box-shadow);
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 10px;
}



.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}